$grey-1: #eee;

body {
    padding: 4em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    max-width: 800px;
    width: 100%;
}
.app {
    max-width: 800px;
    width: 100%;

    .dropdowns {
        background: $grey-1;
        width: 100%;
        padding: 1.5em;

        display: flex;
        justify-content: center;

        div {
            margin: 0 1em;
            h4 {
                margin-bottom: 0.5em;
            }
            select {
                padding: 0.75em 0.5em;
                border-radius: 3px;
                &.select {
                    font-style: italic;
                    opacity: 0.8;
                }
            }
        }
    }
}
